@media (min-width: 576px) {
  .container {
    max-width: 540px
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 720px
  }
}
@media (min-width: 992px) {
  .container {
    max-width: 960px
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1140px
  }
}
.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto
}


body {
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  color: #000;
  letter-spacing: 0.02em;
  margin: 0;
}


h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  font-family: 'Open Sans', sans-serif;
  text-transform: uppercase;
  margin: 0;
}

textarea {
  resize: none;
}

h1 {
  font-size: 48px;
  max-width: 659px;
  font-weight: 800;
  color: $white;
}
h2 {
  font-size: 36px;
  color: $grey;
}

p,
ul,
li {
  display: block;
  padding: 0;
  margin: 0;
}

a,
a:hover,
a:active {
  text-decoration: none;
  color: $red;
}

a {
  font-family: 'Open Sans', sans-serif;
  transition: all 0.5s ease;
}

input,
input:hover,
input:focus,
input:active
{
  outline: none !important;
  border: none;
  box-shadow: none;
  font-family: 'Open Sans', sans-serif;
}
button {
  cursor: pointer;
  transition: all .3s ease;
  &:hover {
    box-shadow: 0 0 19px $red;
  }
}
.button:hover {
  box-shadow: 0 0 19px $red;
}
img {
  max-width: 100%;
  height: auto;
}

p {
  line-height: 1.5em;
}

.gamburger {
    position: absolute;
    top: 5px;
    right: 15px;
    display: none;
    img {
      max-width: 32px !important;
      height: 32px !important;
    }
}
.gamburger2 {
  top: 5px;
  right: 15px;
  display: none;
  img {
    max-width: 32px !important;
    height: 32px !important;
  }
}

.close1{
  display: none;
  position: absolute;
  top: 20px;
  right: 30px;
  z-index: 9999;
}
.close-button {
  cursor: pointer;
  align-self: flex-end;
}

.button {
  background: linear-gradient(180deg, #FF2E00 0%, #D70202 100%);
  color: $white;
  width: 285px;
  height: 76px;
  max-width: 285px;
  box-shadow: 0 7px 0 $black2;
  border: none;
  font-size: 18px;
  font-weight: 700;
  font-family: 'Open Sans', sans-serif;
  text-transform: uppercase;
  &:hover {
    color: $white;
  }
}

.form {
  text-align: center;
  padding: 50px 60px 48px 39px;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 496px;
  width: 496px;

  &__title {
    color: $white;
  }

  &__text {
    color: $white;
    max-width: 330px;
    margin: 20px 0 25px;
    font-family: 'Open Sans', sans-serif;
  }
  &__text2 {
    font-size: 14px;
    color: $white;
    margin: 20px 0 0;
    max-width: 330px;
    font-family: 'Open Sans', sans-serif;
  }

  &-group {
    display: flex;
    align-items: center;
    position: relative;
  }

  &-control {
    width: 307px;
    max-width: 307px;
    height: 59px;
    border-radius: 5px;
    background-color: #ffffff;
    color: #767676;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 20px;
    padding-left: 55px;
  }

  &__btn {
    width: 363px;
    max-width: 363px;
    box-shadow: none;
    background: linear-gradient(180deg, #FF2E00 0%, #D70202 100%);
    height: 76px;
    border: none;
    font-size: 24px;
    font-weight: 700;
    font-family: 'Open Sans', sans-serif;
    color: $white;
    text-transform: uppercase;
  }

  &-group {
    position: relative;
    img {
      position: absolute;
      left: 18px;
      top: 16px;
    }
  }
}

#loader {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.91);
  overflow: hidden;
  display: none;
}

label.error {
  font-size: 12px;
  color: red;
  position: absolute;
}

#name-error {
  top: 0;
}

#tel-error {
  top: 0;
}

#email-error {
  top: 0;
}

input.error {
  border: 1px solid red !important;
}

input.valid {
  border: 1px solid green !important;
}

#loader img {
  position: absolute;
  width: 50px;
  height: 50px;
  left: 50%;
  margin-left: -25px;
  top: 50%;
  margin-top: -25px;
}

#overlay {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(#000, 0.9);
  left: 0px;
  top: 0px;
  cursor: pointer;
  z-index: 9999;
}

#thx {
  display: none;
  background: $grey;
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.4);
  text-align: center;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: 30px;
  color: $white;
  border-radius: 20px;
  z-index: 999;
}
.modal {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  z-index: 999999;
  background-image: url(../images/form-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 20px 60px 30px 39px;
  border-radius: 20px;
  max-width: 396px;
  width: 396px;
  max-height: 630px;
  .form__text {
    color: $white;
  }
}
.modal2 {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  z-index: 999999;
  background-image: url(../images/form-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 20px 60px 30px 39px;
  border-radius: 20px;
  max-width: 396px;
  width: 396px;
  max-height: 630px;
  .form__text {
    color: $white;
  }
}

.swiper-button-next, .swiper-button-prev {
  color: $black;
}
.swiper-button-next:after, .swiper-button-prev:after {
  display: none;
}
.swiper-container {
  padding-bottom: 50px;
}
.swiper-button-prev, .swiper-container-rtl .swiper-button-next {
  left: -50px;
}
.swiper-button-next, .swiper-container-rtl .swiper-button-prev {
  right: -25px;
}
.righter {
  right: -40px;
}
.swiper-pagination-bullet {
  width: 11px;
  height: 11px;
  background: #C4C4C4;
  opacity: 1;
}
.swiper-pagination-bullet-active {
  background: #1C86E4;
}
.swiper-slide {
  img {
    max-height: 375px;
    height: 350px;
    width: 100%;
  }
}
.breadcrumb-item {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  color: $grey;
}
.breadcrumb {
  margin: 40px 0 45px;
}
.breadcrumb-item.active {
  font-weight: 700;
}
.show {
  display: block;
}

//tables

.tftable {
  font-size:20px;
  text-align: center;
  color:$grey;
  width:100%;
  border-width: 2px;
  border-color: $grey;
  border-collapse: collapse;
  font-family: 'Open Sans', sans-serif;
  }
.tftable th {
  font-size:24px;
  text-align: center;
  font-weight: 700;
  background-color:#F8FBFF;
  border-width: 2px;
  padding: 20px;
  border-style: solid;
  border-color: $grey;
  font-family: 'Open Sans', sans-serif;
}
.tftable tr {
  background-color:#F8FBFF;
}
.tftable td {
  font-size:20px;
  border-width: 2px;
  padding: 20px;
  border-style: solid;
  border-color: #729ea5;
  font-family: 'Open Sans', sans-serif;
}
.tftable tr:hover {
  background-color:$white;
}
.table__btn {
  width: 192px;
  height: 43px;
  line-height: 43px;
  border: none;
  background: linear-gradient(180deg, #FEF4B0 0%, #F6C40D 100%);
  border-radius: 5px;
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  font-weight: 700;
  box-shadow: 0 7px 0 $black2;
  &:hover {
    color: $white;
  }
}
.tabs__content {
  display: none;
  opacity: 0;
  transition: all .5s ease;
  animation: appear 1s ease-in 1 normal running;
}
.tabs__content.active {
  display: block;
  opacity: 1;
}
@keyframes appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.mobile-header {
  display: none;
}
.offer {
  .header__menu {
    display: none;
  }
}