/* ------ Media Queries ------ */

/*------1201px  -  1366px-------*/

@media screen and (max-width: 1500px) {
	.header {
    &__menu {
      li {
        a {
          font-size: 16px;
        }
      }
    }
  }
  .offer {
    padding-top: 50px;
  }
  .product {
    padding: 20px 0 50px;
  }
  .products {
    &__title {
      margin: 50px 0;
    }
  }
}

/* 992-1200px */
@media screen and (max-width: 1200px) {
  .header {
    &__menu {
      li {
        margin-right: 20px;
        &:not(:last-child) {
          margin-right: 30px;
        }
      }
    }

    .work-time {
      display: none;
    }
    &__phone {
      font-size: 20px;
    }
  }
  .offer {
    padding-top: 20px;
    &__container {
      flex-flow: column-reverse;
      align-items: center;
    }
  }
  .product {
    padding: 20px 0 50px;
    &__wrap {
      flex-flow: column;
    }
  }
  .production {
    &__card {
      &:nth-child(3) {
        grid-column: 1 / 2;
        grid-row: 4 / 5;
        width: 286px;
        max-width: 286px;
      }
      &:nth-child(4) {
        grid-row: 4/5;
        justify-self: flex-end;
      }
      &:nth-child(6) {
        grid-column: 1/2;
        grid-row: 5/6;
        margin-left: 0;
      }
      &:nth-child(7) {
        justify-self: center;
      }
    }
  }
  .contact {
    &__img {
      display: none;
    }
  }
  .contacts__map {
    iframe {
      width: 530px;
    }
  }
}

/* 768-992px */
@media screen and (max-width: 992px) {
  .header {
    .gamburger {
      display: block;
    }
    &__wrap-bottom {
      position: relative;
    }

    nav {
      overflow: hidden;
    }

    &__menu {
      display: none;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100%;
      padding: 20px 0 20px 15px;
      position: absolute;
      left: 0;
      margin-top: 33px;
      z-index: 999;
      li {
        margin-right: 0;
        margin-top: 25px;
      }
    }

  }
  .production {
    &__wrap {
      display: flex;
      flex-flow: column;
      align-items: center;
    }
    &__card {
      &:nth-child(2) {
        width: 350px;
        max-width: 350px;
        max-height: 300px;
        height: 300px;
        background-position: top right;
      }
      &:nth-child(3) {
        width: 350px;
        max-width: 350px;
      }
      &:nth-child(5) {
        width: 350px;
        max-width: 350px;
      }
      &:nth-child(6) {
        width: 350px;
        max-width: 350px;
      }
      
    }
  }

  .footer {
    &-wrap {
      justify-content: space-around;
    }

    &-wrap__menu {
      display: none;
    }

    &-rights {
      margin-top: 50px;
    }
  }
  .contacts {
    &__wrap {
      flex-flow: column;
      align-items: center;
    }
    &__map { 
      iframe {
        margin-top: 30px;
        width: 100%;
      }
    }
  }
  .tabs__content .mobile{
    width: 100%;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
  }
  .production__card {
    margin-bottom: 30px;
  }
  
}

/* 576-768px */
@media screen and (max-width: 768px) {
  .header {
    &__wrap-top {
      span {
        display: none;
      }
    }
    &__btn {
      width: 100%;
    }
  }
  .box-modal {
    width: 100%;
  }

  .modal-form {
    width: 100%;
  }

  .form {
    padding: 10px;

    &__title {
      font-size: 30px;
    }

    &__text {
      font-size: 16px;
      width: 100%;
      max-width: 100%;
    }

    &__btn {
      width: 100%;
    }
  }
  .modal {
    padding: 40px;
    height: 603px;
  }
  .swiper-button-next, .swiper-container-rtl .swiper-button-prev {
    display: none;
  }
  .swiper-button-prev, .swiper-container-rtl .swiper-button-next {
    display: none;
  }
  .footer {
    .work-time {
      margin: 30px 0;
    }
    &-wrap {
      flex-flow: column;
      &__contacts-box {
        text-align: left;
      }
    }
  }
}

/* 320-576px */
@media screen and (max-width: 576px) {
  h1 {
    font-size: 30px;
  }
  h2 {
    font-size: 25px;
  }
  .header {
    &__container {
      display: block;
    }
    &__wrap-top {
      flex-flow: column;
      align-items: center;
      margin-bottom: 10px;
    }
    &__wrap-bottom {
      min-height:  140px;
      height: 140px;
    }
    &__btn {
      max-width: 100%;
      margin-top: 70px;
    }
    &__menu {
      margin-top: 55px;
    }
  }
  .offer {
    &__box {
      margin-left: 0;
    }
    &__text {
      font-size: 20px;
    }
  }
  .production {
    &__card {
      &:nth-child(2) {
        width: 90%;
        max-width: 100%;
        max-height: 300px;
        height: 300px;
        background-position: top right;
      }
      &:nth-child(3) {
        width: 90%;
        max-width: 100%;
      }
      &:nth-child(5) {
        width: 90%;
        max-width: 100%;
      }
      &:nth-child(6) {
        width: 90%;
        max-width: 100%;
      }
      &:nth-child(7) {
        width: 90%;
        max-width: 100%;
        background-position: center;
      }
      &:nth-child(1) {
        width: 90%;
        max-width: 100%;
        background-position: center;
      }
      &:nth-child(4) {
        width: 90%;
        max-width: 100%;
      }
      
    }
  }
}

@media screen and (max-width: 430px) {
  .form.modal {
    padding: 30px 10px;
    background-position: center;
    background-size: cover;
    .form-group {
      width: 80%;
    }
    .form__btn {
      width: 80%;
    }
  }
  .seo {
    padding: 50px 0;
    &__text {
      text-align: justify;
      font-size: 14px;
    }
  }
  .production {
    &__card-title {
      font-size: 20px;
    }
  }
  .form {
    max-width: 100%;
    width: 90%;
    .form-control {
      width: 100%;
      max-width: 100%;
    }
    .form-group {
      width: 100%;
      max-width: 100%;
    }
  }
}