/* ------ Media Queries ------ */

/*------1201px  -  1366px-------*/

@media screen and (max-width: 1500px) {
	.header {
    &__menu {
      li {
        a {
          font-size: 16px;
        }
      }
    }
  }
  .offer {
    padding-top: 50px;
  }
  .product {
    padding: 20px 0 50px;
  }
  .products {
    &__title {
      margin: 50px 0;
    }
  }
}

/* 992-1200px */
@media screen and (max-width: 1200px) {
  .header {
    &__menu {
      li {
        margin-right: 20px;
        &:not(:last-child) {
          margin-right: 30px;
        }
      }
    }

    .work-time {
      display: none;
    }
    &__phone {
      font-size: 20px;
    }
  }
  .offer {
    padding-top: 20px;
    &__container {
      flex-flow: column-reverse;
      align-items: center;
      position: relative;
    }
  }
  .product {
    padding: 20px 0 50px;
    &__wrap {
      flex-flow: column;
    }
  }
  .production {
    &__card {
      &:nth-child(3) {
        grid-column: 1 / 2;
        grid-row: 4 / 5;
        width: 286px;
        max-width: 286px;
      }
      &:nth-child(4) {
        grid-row: 4/5;
        justify-self: flex-end;
      }
      &:nth-child(6) {
        grid-column: 1/2;
        grid-row: 5/6;
        margin-left: 0;
      }
      &:nth-child(7) {
        justify-self: center;
      }
    }
  }
  .contact {
    &__img {
      display: none;
    }
  }
  .contacts__map {
    iframe {
      width: 530px;
    }
  }
}

/* 768-992px */
@media screen and (max-width: 992px) {
  nav {
    // display: none;
    
  }
  .gamburger2 {
    display: block;
  }
  .mobile-header {
    display: block;
    .gamburger {
      display: block;
    }
    
  }
  .header__menu {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 20px 0 20px 15px;
    position: absolute;
    left: 0;
    top: 0;
    margin-top: 0;
    z-index: 999;
    background-color: rgba($grey, .9);
    li {
      margin-right: 0;
      margin-top: 25px;
    }
  }
  .header {
    &__container {
      flex-flow: row-reverse;
    }
    &__logo {
      img {
        width: 198px !important;
        height: 45px !important;
        max-width: 100%;
        position: absolute;
        top: 10px;
        left: 15px;
      }
    }
  }
  .header-main {
    
    display: none;
    &__wrap-bottom {
      position: relative;
    }

    nav {
      overflow: hidden;
    }

    

  }
  .offer {
    .close1 {
      img {
        width: 100%;
        height: 100%;
      }
    }
    &__title {
      margin: 70px 0 30px;
  }
    &__box {
      margin-left: 0;
    }
  }
  .production {
    &__wrap {
      display: flex;
      flex-flow: column;
      align-items: center;
    }
    &__card {
      &-title {
        font-size: 20px;
        line-height: 23px;
        margin-bottom: 20px;
      }
      &:nth-child(1) {
        width: 300px;
        max-width: 300px;
        height: 153px;
        max-height: 100%;
        background-image: url(../images/buttons-img.png);
        background-position: right;
        p {
          margin-bottom: 20px;
          margin-left: 20px;
        }
      }
      &:nth-child(2) {
        width: 300px;
        max-width: 300px;
        height: 153px;
        max-height: 100%;
        background-image: url(../images/buttons-img2.png);
        padding-bottom: 0;
        p {
          margin-bottom: 20px;
          margin-left: 20px;
        }
      }
      &:nth-child(3) {
        width: 300px;
        max-width: 300px;
        height: 153px;
        max-height: 100%;
        background-image: url(../images/buttons-img3.png);
        background-position: right;
        p {
          margin-bottom: 20px;
          margin-left: 20px;
        }
      }
      &:nth-child(4) {
        width: 300px;
        max-width: 300px;
        height: 153px;
        max-height: 100%;
        background-image: url(../images/buttons-img4.png);
        p {
          margin-bottom: 20px;
          margin-left: 20px;
        }
      }
      &:nth-child(5) {
        width: 300px;
        max-width: 300px;
        height: 153px;
        max-height: 100%;
        background-image: url(../images/buttons-img5.png);
        padding-bottom: 0;
        p {
          margin-bottom: 20px;
          margin-left: 20px;
        }
      }
      &:nth-child(6) {
        width: 300px;
        max-width: 300px;
        height: 153px;
        max-height: 100%;
        background-image: url(../images/buttons-img6.png);
        p {
          margin-bottom: 20px;
          margin-left: 20px;
        }
      }
      &:nth-child(7) {
        width: 300px;
        max-width: 300px;
        height: 153px;
        max-height: 100%;
        background-image: url(../images/buttons-img7.png);
        background-position: right;
        p {
          margin-bottom: 20px;
          margin-left: 20px;
        }
      }
    }
  }

  .footer {
    &-wrap {
      justify-content: space-around;
    }

    &-wrap__menu {
      display: none;
    }

    &-rights {
      margin-top: 50px;
    }
  }
  .contacts {
    &__wrap {
      flex-flow: column;
      align-items: center;
    }
    &__map { 
      iframe {
        margin-top: 30px;
        width: 100%;
      }
    }
  }
  .tftable th {
    padding: 8px;
    font-size: 14px;
  }
  .tftable td {
    padding: 8px;
    font-size: 14px;
  }
  .table__btn {
    font-size: 14px;
    width: 110px;
    height: 31px;
    line-height: 35px;
    box-shadow: 0 2px 0 #db7f1b;
  }
  
  .products {
    &-card__btn {
      font-size: 20px;
    }
  }
  
}

/* 576-768px */
@media screen and (max-width: 787px) {
  .header {
    &__wrap-top {
      span {
        display: none;
      }
    }
    &__btn {
      width: 100%;
    }
  }
  .box-modal {
    width: 100%;
  }

  .modal-form {
    width: 100%;
  }

  .form {
    padding: 10px;

    &__title {
      font-size: 30px;
    }

    &__text {
      font-size: 16px;
      width: 100%;
      max-width: 100%;
    }

    &__btn {
      width: 100%;
    }
  }
  .modal {
    padding: 40px;
    height: 603px;
  }
  .swiper-button-next, .swiper-container-rtl .swiper-button-prev {
    display: none;
  }
  .swiper-button-prev, .swiper-container-rtl .swiper-button-next {
    display: none;
  }
  .footer {
    .work-time {
      margin: 30px 0;
    }
    &-wrap {
      flex-flow: column;
      &__contacts-box {
        text-align: left;
      }
    }
  }
  tr {
    td {
      &:nth-child(4) {
        display: none;
      }
    }
    th {
      &:nth-child(4) {
        display: none;
      }
    }
  }
}

/* 320-576px */
@media screen and (max-width: 576px) {
  h1 {
    font-size: 30px;
  }
  h2 {
    font-size: 25px;
  }
  .header {
    &__wrap-top {
      flex-flow: column;
      margin-bottom: 10px;
    }
    &__wrap-bottom {
      min-height:  80px;
      height: 80px;
    }
    &__btn {
      margin-top: 0;
    }
    &__phone {
      margin-top: 50px;
      align-items: flex-start;
      margin-bottom: 10px;
    }
  }
  .header__menu {
    top: 0;
  }
  .offer {
    img {
      height: auto;
      width: 100%;
    }
    &__box {
      margin-left: 0;
    }
    &__text {
      font-size: 20px;
    }
  }
  .production {
    padding-top: 50px;
    &__card {
      &-title {
        font-size: 20px;
        line-height: 23px;
        margin-bottom: 20px;
      }
      &:nth-child(1) {
        width: 100%;
      }
      &:nth-child(2) {
        width: 100%;
      }
      &:nth-child(3) {
        width: 100%;
      }
      &:nth-child(4) {
        width: 100%;
      }
      &:nth-child(5) {
        width: 100%;
      }
      &:nth-child(6) {
        width: 100%;
      }
      &:nth-child(7) {
        width: 100%;
      }
    }
  }
  .works {
    padding-top: 50px;
  }
}

@media screen and (max-width: 430px) {
  .form.modal {
    padding: 30px 10px;
    background-position: center;
    background-size: cover;
    .form-group {
      width: 80%;
    }
    .form__btn {
      width: 80%;
    }
  }
  .seo {
    padding: 50px 0;
    &__text {
      text-align: justify;
      font-size: 14px;
    }
  }
  .production {
    &__card-title {
      font-size: 20px;
    }
  }
  .form {
    max-width: 100%;
    width: 90%;
    .form-control {
      width: 100%;
      max-width: 100%;
    }
    .form-group {
      width: 100%;
      max-width: 100%;
    }
  }
}