@import "vars";
@import "libs";
@import "fonts";
@import "global";






.header {
	padding-top: 19px;
	span {
		max-width: 206px;
		width: 206px;
		display: block;
		margin-top: 7px;
	}
	span.work-time {
		line-height: 20px;
		img {
			margin-right: 5px;
		}
		span {
			margin-left: 24px;
		}
	}
	&__wrap-top {
		@include between;
	}
	&__wrap-bottom {
		background: $grey;
		@include between;
		min-height: 70px;
	}
	&__menu {
		@include between-center;
		background: $grey;
		li {
			&:not(:last-child) {
				margin-right: 50px;
			}
			a {
				color: $white;
				&:hover {
					color: $red;
				}
			}
		}
	}
	&__phone {
		font-size: 30px;
		display: flex;
		flex-flow: column;
		align-items: center;
		a {
			color: $black;
			display: flex;
			align-items: center;
			img {
				margin-right: 5px;
			}
			&:hover {
				color: $red;
			}
		}
	}
	&__btn {
		border: none;
		background: linear-gradient(180deg, #FF2E00 0%, #D70202 100%);
		border-radius: 0;
		height: 52px;
		line-height: 48px;
		color: $white;
		font-size: 16px;
		font-weight: 600;
		text-transform: uppercase;
		width: 222px;
		max-width: 222px;
		&:hover {
			color: $white;
		}
	}
	&__container {
		@include between-center;
		width: 100%;
	}
	&__mail {
		font-weight: 300;
		font-size: 18px;
	}

}

//offer
.offer {
	padding-top: 96px;
	padding-bottom: 166px;
	background-image: url(../images/offer-bg.png);
	background-repeat: no-repeat;
	background-size: cover;
	img {
		width: 591px;
		height: 456px;
	}
	&__container {
		display: flex;
	}
	&__box {
		margin-left: 11px;
	}
	&__title {
		margin: 40px 0 30px 0;
	}
	&__text {
		font-size: 24px;
		line-height: 33px;
		margin-bottom: 40px;
		color: $white;
		font-weight: 600;
		max-width: 516px;
	}
}

//product
.product {
	padding: 50px 0 100px;
	&__img {
		margin-top: 50px;
	}
	&__wrap {
		@include between-center;
	}
	&__title {
		text-align: center;
		width: 300px;
		max-width: 300px;
	}
	&__btn {
		display: flex;
		justify-content: center;
		align-items: center;
		margin-top: 32px;
	}
}

.production {
	padding-top: 93px;
	padding-bottom: 120px;
	background-image: url(../images/production-bg.png);
	background-repeat: no-repeat;
	background-size: cover;
	&__title {
		text-align: center;
		margin-bottom: 52px;
	}
	&__wrap {
		position: relative;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
	}
	&__card {
		background: #FFFFFF;
		background-position: 50% 20%;
		min-width: 300px;
		min-height: 330px;
		position: relative;
		margin-right: 32px;
		
		&:hover {
			box-shadow:  0 0 10px $red;
			transform: scale(1.1);
		}
		&-block {
			position: absolute;
			bottom: 0;
			min-height: 90px;
			width: 100%;
			background: linear-gradient(122.81deg, #ED5A46 34.81%, rgba(255, 255, 255, 0) 69.6%), linear-gradient(180deg, #FF6F5B 0%, #BD230F 100%);
			display: flex;
			justify-content: center;
			align-items: center;
		}
		&-title {
			text-transform: uppercase;
			font-size: 18px;
			font-weight: 700;
			color: $white;
			line-height: 22px;
			max-width: 230px;
			text-align: center;
		}
		&:nth-child(1) {
			background-image: url(../images/production-img1.png);
			background-repeat: no-repeat;
			p {
				font-size: 14px;
				max-width: 180px;
				line-height: 17px;
			}
		}
		&:nth-child(2) {
			background-image: url(../images/production-img2.png);
			background-repeat: no-repeat;
		}
		&:nth-child(3) {
			background-image: url(../images/production-img3.png);
			background-repeat: no-repeat;
		}
		&:nth-child(4) {
			background-image: url(../images/production-img4.png);
			background-repeat: no-repeat;
			margin-top: 40px;
		}
		&:nth-child(5) {
			background-image: url(../images/production-img5.png);
			background-repeat: no-repeat;
			margin-top: 40px;
		}
		&:nth-child(6) {
			background-image: url(../images/production-img6.png);
			background-repeat: no-repeat;
			margin-top: 40px;
		}
		&:nth-child(7) {
			background-image: url(../images/production-img7.png);
			background-repeat: no-repeat;
			margin-top: 40px;
		}	
		
	}
}
//contact
.contact {
	padding-top: 17px;
	padding-bottom: 0;
	background-image: url(../images/contact-bg.png);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	&__box {
		display: flex;
		justify-content: space-between;
	}
	&__img {
		width: 100%;
		margin-top: -30px;
	}
}
//contact2
.contact2 {
	background-image: url(../images/contact-bg.png);
	background-repeat: no-repeat;
	background-size: cover;
	margin-top: 0;
}
//works
.works {
	padding-top: 110px;
	&__container {
		position: relative;
	}
	&__title {
		text-align: center;
		margin-bottom: 54px;
	}
	&__box {
		display: flex;
		flex-wrap: wrap;
	}
	&__card {
		max-width: 540px;
		width: 540px;
		max-height: 300px;
		height: 300px;
		position: relative;
		p {
			text-transform: uppercase;
			color: $white;
			font-weight: 700;
			background-image: url(../images/p-bg.png);
			background-repeat: no-repeat;
			background-position-x: left ;
			height: 54px;
			line-height: 54px;
			position: absolute;
			left: 4px;
			bottom: 34px;
			padding-left: 50px;
			width: 100%;
		}
		&:nth-child(1) {
			background-image: url(../images/works-img1.jpg);
			background-repeat: no-repeat;
		}
		&:nth-child(2) {
			background-image: url(../images/works-img2.jpg);
			background-repeat: no-repeat;
			margin-left: 30px;
		}
		&:nth-child(3) {
			background-image: url(../images/works-img3.jpg);
			background-repeat: no-repeat;
			margin-top: 30px;
		}
		&:nth-child(4) {
			background-image: url(../images/works-img4.jpg);
			background-repeat: no-repeat;
			margin-left: 30px;
			margin-top: 30px;
		}
	}
}

//seo
.seo {
	padding: 110px 0;
	&__title {
		text-align: center;
		margin-bottom: 34px;
	}
	&__text {
		text-align: center;
	}
}

//footer
.footer {
	padding: 55px 0 32px;
	background-color: $grey;
	color: $white;
	.work-time {
		display: block;
		font-weight: 300;
		img {
			margin-right: 8px;
		}
		span {
			margin-left: 27px;
		}
	}
	&-wrap {
		display: flex;
		justify-content: space-between;
		&__logo {
			margin-top: -6px;
			p {
				font-weight: 300;
				font-size: 14px;
				max-width: 200px;
				margin-top: 20px;
			}
		}

		&__menu {
			text-align: center;
			margin-top: 6px;
			li:not(:last-child) {
				margin-bottom: 15px;
			}
			li a {
				font-size: 18px;
				color: #ededed;
			}

			li a:hover {
				color: $red;
				text-decoration: underline;
			}
		}

		&__text {
			margin-top: 19px;
			font-size: 14px;
			width: 290px;
			max-width: 290px;
		}

		&__contacts-box {
			text-align: right;
			display: flex;
			flex-flow: column;
		}

		&__contacts-box-phone {
			color: $white;
			font-size: 30px;
			font-weight: 400;
			display: flex;
			align-items: center;
			img {
				margin-right: 10px;
			}
		}

		&__contacts-box-phone:hover {
			color: $red;
		}

		&__contacts-box-mail {
			color: $white;
			font-size: 18px;
			font-weight: 300;
			margin-top: 17px;
			display: flex;
			align-items: center;
			justify-content: flex-end;
			img {
				margin-right: 5px;
			}
		}

		&__contacts-box-mail:hover {
			color: $red;
		}
	}
	&-rights {
		text-align: center;
		font-weight: 300;
		font-size: 14px;
		margin-top: 25px;
	}
}

//contacts

.contacts {
	padding-bottom: 99px;
	color: $grey;
	&__title {
		text-align: center;
		margin-bottom: 50px;
	}
	&__wrap {
		display: flex;
		justify-content: space-between;
	}
	&__box {
		display: flex;
		flex-flow: column;
		a {
			margin-top: 30px;
			color: $grey;
			img {
				margin-right: 20px;
			}
		}
		p {
			img {
				margin-right: 20px;
			}
		}
		
	}
	&__location {
		span {
			margin-left: 51px;
		}
	}
	&__phone {
		font-size: 24px;
	}
	&__mail {
		font-size: 18px;
	}
	&__time {
		margin-top: 30px;
		span {
			margin-left: 51px;
		}
	}
	&__map {
		iframe {
			width: 730px;
			height: 327px;
		}
	}
}

//own product

.ownProduct {
	padding-bottom: 70px;
	color: $grey;
	&__title {
		text-align: center;
		color: $black;
		max-width: 100%;
		width: 100%;
	}
	&__subtitle {
		text-align: center;
		margin: 30px 0 50px;
	}
	&__slider {
		position: relative;
	}
}

//portfolio

.portfolio {
	padding-bottom: 100px;
	&__title {
		text-align: center;
		color: $grey;
		margin-bottom: 60px;
		max-width: 100%;
		width: 100%;
	}
	&__wrap {
		text-align: center;
		margin-top: 75px;
	}
	&__text {
		margin-top: 75px;
	}
	&__gallery {
		img {
			margin: 0 12px 20px;
		}
	}
	&__btn {
		background: linear-gradient(180deg, #FF2E00 0%, #D70202 100%);
		width: 285px;
		height: 76px;
		max-width: 285px;
		color: $white;
		border: none;
		font-size: 24px;
		font-weight: 700;
		font-family: 'Roboto Condensed', sans-serif;
	}
}

//products
.products {
	padding-bottom: 140px;
	&__title {
		max-width: 100%;
		width: 100%;
		color: $grey;
	}
	&__buttons {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
	}
	&-card__btn {
		background: #FFFFFF;
		box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
		border-radius: 10px;
		width: 350px;
		max-width: 350px;
		cursor: pointer;
		height: 153px;
		max-height: 153px;
		border: none;
		font-size: 30px;
		font-weight: 700;
		text-transform: uppercase;
		text-align: left;
		padding-left: 26px;
		background-image: url(../images/buttons-img.png);
		background-repeat: no-repeat;
		background-position: right;
		margin-right: 28px;
		margin-bottom: 30px;
		.active-bg {
			background-color: $red;
		}
		&:hover {
			background-color: $red;
		}
		&:nth-child(2) {
			font-size: 20px;
			background-image: url(../images/buttons-img2.png);
			margin-right: 28px;
		}
		&:nth-child(3) {
			background-image: url(../images/buttons-img3.png);
		}
		&:nth-child(4) {
			background-image: url(../images/buttons-img4.png);
			margin-right: 28px;
		}
		&:nth-child(5) {
			font-size: 20px;
			background-image: url(../images/buttons-img5.png);
			margin-right: 28px;
		}
		&:nth-child(6) {
			background-image: url(../images/buttons-img6.png);
		}
		&:nth-child(7) {
			background-image: url(../images/buttons-img7.png);
		}
	}
	&__title {
		text-align: center;
		margin-top: 100px;
		margin-bottom: 60px;
	}
}
@import "media";
